body{
    background-color: #EBE6E4;
}

h1{
    text-align: center;
    font-family: monospace;
}

.row{
    border: 2px;
    border-color: black;
    border-style: dashed;
    width: 500px;
    font-family: cursive;
    font-size: larger;
    margin: auto;
    margin-top: -160px;
    text-align: center;
}

hr{
    width: 85%;
    margin-top: 160px;    
}
.nav-bar img{
    width: 350px;
    height: 300px;
    display: inline-flex;
    margin-top: -7%;
    float: right;
}

.grid-container{
    display: grid;
    grid-template-columns: 35% 35% 20%;
    border: 1px;
}

.grid-item img{
    text-align: center;
}

.fb img{
    width: 450px;
    height: 230px;
}

.linkedin img{
    margin-top: 1%;
    width: 400px;
    height: 220px;
}

.git img{
    width: 350px;
    height: 220px;
}

.wrapper{
    margin-top: -7%;
}

